* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;
}

.contaner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}

#divt{
    display: flex;
    align-items: center;
}

h1 {
    font-size: 60px;
    text-align: center;
    width: min-content;
    color: blue;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    border: 10px solid;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

input {
    color:aqua;
    width: 500px;
    background-color: brown;
    outline:none;
    border:none;
    text-align:center;
    border-radius: 10px;
    height:max-content;
    padding-left: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

button {
    height:max-content;
    font-size: 30px;
    width: max-content;
    border:none;
    border-radius:10px;
    background-color: black;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    margin-left: 10px;
}

@media screen and (max-width:500px){
    input {
        width: max-content;
    }
    h1 {
        font-size: 30px
    }
}

@media screen and (max-width:280px){
    input {
        width: 150px;
    }
    h1 {
        font-size: 30px
    }
}